$padding-main: 20px;
$padding-main-table: 39px;
$padding-main-desktop: 55px;
$width-desktop: 1280px;
$color-main: #cd4d31;
$color-white: #f1f5f4;
$color-bg: #3f5252;
$color-black: #1c1b29;
$color-gray: #504f5e;
$time-animation: 0.2s;
